@import url("./common.css");
@import url("./header-blog.css");
@import url("./banner.css");
body {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}
ul,
ol {
  margin-left: 16px;
}
@media (max-width: 800px) {
  body {
    padding: 36px;
  }
}
@media (max-width: 320px) {
  body {
    width: 100vw;
    padding: 12px;
  }
  .code_content {
    height: 120px;
    width: 70vw;
    overflow-x: scroll;
  }
  .text,
  .h3,
  .h4,
  .code_content,
  .list_item,
  .order_list_item {
    margin: 12px;
  }
}
