header {
  padding: 28px 12px;
  grid-area: hd;
}
@media (max-width: 320px) {
  header {
    padding: 12px 0px;
  }
}
@media (min-width: 321px) and (max-width: 600px) {
  header {
    padding: 12px 0px;
  }
}
